* {
    --bg: #101010;
    --text: #eeeeee;
    --text-em-1: #f5f4f0;
    --text-em-2: white;
    --highlight-bg: #5e5e5e;
    --card-bg: #202020;
    --card-border: #777777;
    --image-border: #666666;
}

body {
    display: flex;
    padding: 0.6rem;
    margin: 0;
    background-color: var(--bg);
    color: var(--text);
    font-family: "CMUTypewriterTextRegular", serif;
    font-size: 1.2rem;
    flex-direction: column;
    line-height: 1.6;
    align-items: center;
}

nav {
    padding: 0.4rem;
    margin-top: 1rem;
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    user-select: none;
    -webkit-user-select: none;
}

/* reset */

a,
a:visited,
a:active,
a:hover,
a:link {
    color: inherit;
    text-decoration: none;
    border-bottom: 2px dashed;
    transition-duration: 0.2s;
}

.nav-main a,
.nav-main a:visited {
    border-bottom: none;
}

ul {
    display: flex;
    flex-direction: column;
}

.nav-main ul {
    flex-direction: row;
    list-style-type: none;
    padding-inline-start: 0;
}

ul#contact li {
    font-size: 1.5rem;
}

.blog-item {
    padding: 0.25em;
    font-size: 1.3rem;
}

.highlight {
    background-color: var(--highlight-bg);
    color: var(--text-em-2);
    padding: 0.1em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    border-radius: 0.2rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-all;
}

.page-subtitle {
    color: var(--text-em-2);
    font-size: 2.5rem;
    margin: 1rem;
    text-align: center;
}

.nav-item {
    margin-right: 1rem;
    transition-duration: 0.4s;
}

.nav-item.current {
    color: var(--text-em-2);
    font-weight: bold;
}

.project-group {
    display: grid;
    gap: 1.5rem;
    align-items: center;
    margin-bottom: 4rem;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
}

.project-item {
    min-width: calc(100% - 2rem - 2px);
    height: 100%;
    padding: 1rem;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 2rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: 2px solid var(--card-border);
    background: var(--card-bg);
    color: var(--text-em-1);
    transition-duration: 0.3s;
}

.project-item>.wrapper {
    text-align: center;
}

.project-image {
    object-fit: contain;
    text-align: center;
}

.project-title {
    font-size: 1.2em;
}

.project-description {
    padding-top: 1.3rem;
    font-size: 1rem;
    line-height: 1.8;
}

.project-image img {
    max-width: 100%;
    width: auto;
    border-radius: 0.5rem;
}

.project-item-list {
    text-align: left;
}

#page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 65%;
}

#page-wrapper p {
    max-width: 65ch;
    line-height: 1.8;
}

#page-wrapper.services .wrapper {
    max-width: 80ch;
}

#page-wrapper.services ul li {
    max-width: 80ch;
}

.services .intro {
    text-align: center;
}

input[id$=work-tab] {
    display: none;
}

/* hide radio buttons */
input[id$=work-tab]+label {
    display: inline-block;
    cursor: pointer;
}

/* show labels in line */
input[id$=work-tab]~.tab {
    display: none
}

#creative-work-tab:checked~.tab.creative-work,
#technical-work-tab:checked~.tab.technical-work {
    display: block;
}

input[id$=work-tab]+label {
    border: 1px solid var(--text);
    padding: 4px 12px;
    border-radius: 4px;
}

input[id$=work-tab]:checked+label {
    border-width: 2px;
    font-weight: bold;
}

input[id$=work-tab]:not(:checked)+label:hover {
    font-weight: bold;
}

.project-tabs {
    margin-top: 4rem;
}

#hamburger,
label[for=hamburger] {
    display: none;
}

footer {
    width: 100%;
}

footer>nav {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
}

.column {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

object {
    height: 100%;
}

.bio {
    max-height: 40ch;
    margin: 2rem;
}

.bio>p {
    margin-left: 3rem;
}

.column>.is-one-third {
    width: 33.34%;
}

.column>.is-two-thirds {
    width: 66.66%;
}

@media not all and (hover: none) {
    a:hover {
        color: var(--text-em-2);
        border-bottom-style: solid;
    }

    .nav-item:not(.current):hover {
        transform: translate(0, -4px);
    }

    .project-item:hover {
        z-index: 2;
        transform: scale(1.25);
    }
}

@media only screen and (max-aspect-ratio: 4/3) {
    #page-wrapper {
        max-width: 75%;
    }

    .project-group {
        grid-template-columns: repeat(2, 1fr);
    }

    .column {
        flex-direction: column;
    }

    .bio {
        height: 100vh;
        max-height: unset;
    }

    .bio>p {
        margin-left: auto;
    }

    .column>.is-one-third,
    .column>.is-two-thirds {
        max-width: 100%;
        width: 100%;
    }
}

@media only screen and (max-aspect-ratio: 1/1) {
    .project-group {
        grid-template-columns: repeat(1, 1fr);
    }

    label[for=hamburger] {
        display: flex;
        font-size: 2rem;
        cursor: pointer;
        font-weight: bold;
        user-select: none;
        margin-top: 2rem;
        line-height: 1;
    }

    label[for="hamburger"]>* {
        margin: 1rem;
    }

    label[for=hamburger]>span.hamburger-icon {
        margin-left: auto;
    }

    .nav-main {
        display: none;
        margin-top: 0;
    }

    .nav-main ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .nav-item.current {
        font-weight: normal;
    }

    #hamburger:checked~nav.nav-main {
        display: block;
    }

    header {
        width: 100%;
        text-align: center;
    }
}

@media only screen and (max-aspect-ratio: 1/1) {
    #page-wrapper {
        max-width: 85%;
    }

    .project-item {
        margin-right: auto;
    }
}

@supports not(--a: 0) {
    body {
        background-color: #202020;
        color: #eeeeee;
    }

    .highlight {
        background-color: #5e5e5e;
    }

    .project-item {
        border-color: #777777;
        background: #404040;
        color: #f5f4f0;
    }

    .project-image img {
        border-color: #666666;
    }

    .highlight,
    .page-subtitle,
    .nav-item.current {
        color: white;
    }

    @media not all and (hover: none) {

        a:hover {
            color: white;
        }
    }
}

@media only screen and (max-aspect-ratio: 3/4) {
    .project-item {
        margin-right: auto;
    }

    #page-wrapper {
        max-width: 95%;
    }

    .nav-item {
        margin-right: 0.8rem;
    }

    ul#contact li {
        font-size: 1.5rem;
    }
}

@media screen and (prefers-color-scheme: light) {
    * {
        --bg: #fcfcfc;
        --text: #303030;
        --text-em-1: #202020;
        --text-em-2: black;
        --highlight-bg: #eeeeee;
        --card-bg: #ffffff;
        --particle-color: #fae7ec;
        --max-alpha: 80;
    }

    @supports not(--a: 0) {
        body {
            background-color: #fcfcfc;
            color: #303030;
        }

        .highlight {
            background-color: #eeeeee;
        }

        .project-item {
            border-color: #777777;
            background: #ffffff;
            color: #303030;
        }

        .project-image img {
            border-color: #666666;
        }

        .highlight,
        .page-subtitle,
        .nav-item.current {
            color: black;
        }

        @media not all and (hover: none) {
            a:hover {
                color: black;
            }
        }
    }
}

img.gc-analytics-img {
    display: none;
}