@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
* {
    background: #f5f4f0;
    line-height: 1.4;
    --main-font: 'Fredoka One';
    --secondary-font: 'Source Sans Pro';
    --login-form-font: 'Source Code Pro';
    font-family: var(--main-font), sans-serif;
    text-align: center;
    --text-1: #202020;
    --accent: #007cdf;
    --secondary-bg: #ffffff;
    --nav-hover-color: #ffffff;
    scrollbar-width: none;
}

nav a {
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 2em;
    top: 0;
    background: var(--text-1);
    color: var(--secondary-bg);
    text-decoration: none;
    transition-duration: 0.2s;
    border-bottom: 3px dashed var(--secondary-bg);
    border-radius: 6px;
}

nav a:hover {
    transform: translateY(4px);
    color: var(--nav-hover-color);
    border-bottom: 3px solid var(--accent);
}

nav a:active {
    color: var(--text-1);
    background: var(--secondary-bg);
}

nav {
    height: 50%;
    display: flex;
    background: transparent;
    justify-content: center;
}

h1 {
    color: var(--text-1);
    padding: 20px;
    margin-top: 20px;
}

input[type=text], input[type=password] {
    border-radius: 6px;
    text-align: left;
    color: var(--text-1);
    border: 3px dashed var(--text-1);
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 8px;
    margin-bottom: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition-duration: 0.4s;
}

#username, #password, input[type=submit] {
    font-family: var(--login-form-font);
    color: var(--text-1);
}

input[type=text]:focus, input[type=password]:focus {
    border: 3px solid var(--accent);
}

#login-form {
    transform: translateY(70%);
}

input[type=submit] {
    border-radius: 10px;
    padding: 8px;
    cursor: pointer;
    margin-top: 20px;
}

input[type=submit]:hover {
    transform: translateY(4px);
    color: #e87d3e;
}

.item-container {
    width: 75%;
    display: inline-block;
    text-align: left;
    font-size: 16px;
    margin: 20px;
    border-radius: 6px;
    background: var(--secondary-bg);
    padding: 14px;
    color: var(--text-1);
    border: 1px solid black;
}

.item-name {
    margin: 10px;
    font-size: 24px;
    display: block;
    font-family: var(--secondary-font);
    font-weight: bold;
    background: inherit;
}

.item-description, .link {
    text-align: left;
    font-family: var(--secondary-font);
    background: inherit;
}

.link {
    clear: both;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tag-dot-container {
    clear: both;
}


a {
    transition-duration: 0.2s;
    color: var(--text-1);
    background: transparent;
}

a:hover {
    color: var(--accent);
}

.tag-container {
    background: inherit;
    display: flex;
    width: 90%;
    margin-top: 10px;
    word-wrap: break-word;
    overflow: scroll;
    overflow-y: hidden;
}

.tag {
    background: inherit;
    min-width: 90%;
}

.dot {
    max-height: 10px;
    max-width: 10px;
    min-height: 10px;
    min-width: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 6px;
}


.tag-dot-container {
    background: #555555;
    display: inline flex;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
    min-width: 100px;
    overflow-y: hidden;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 6px;
    padding-top: 4px;
    margin: 4px;
    padding-bottom: 4px;
}

.writer {
    background: lawngreen;
}

.editor {
    background: #007cdf;
}

.director {
    background: orange;
}

.actor {
    background: red;
}

.musician {
    background: yellow;
}

.item-image {
    text-align: center;
    float: left;
    width: 200px;
    height: 115px;
    background-size: contain;
    margin-right: 12px;
    margin-bottom: 10px;
    background-position: center;
    background-color: inherit;
    background-repeat: no-repeat;
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    nav a {
        padding: 2px;
        margin: 2px;
        font-size: 1em;
        display: inline-block;
        flex-grow: 1;
    }
    nav {
        text-align: center;
    }

    #login {
        position: static;
        display: inline-block;
        padding: 2px;
        margin: 2px;
    }

    .item-description {
        display: block;
    }

    .item-container {
        width: 85%;
    }

    .item-image {
        text-align: center;
        display: block;
        margin-right: auto;
        margin: auto;
        float: unset;
    }

    .tag-dot-container {
        min-width: 120px;
        margin: auto;
    }
}

@media (prefers-color-scheme: dark) {
    * {
        background: #121212;
    }
    h1 {
        background: inherit;
        color: #f5f4f0;
    }
    
    .item-container {
        background: #303030;
        color: #f5f4f0;
    }
    
    a {
        color: #f5f4f0;
    }
    nav a {
        color: #f5f4f0;
    }

    #username, #password, input[type=submit] {
        color: lawngreen;
    }

}

@media (prefers-color-scheme: light) {
    * {
        background: #f5f4f0;
    }
    h1 {
        background: inherit;
        color: #202020;
    }
    
    .item-container {
        background: #ffffff;
        color: #202020;
    }
    
    a {
        color: #202020;
    }
    nav a {
        color: #f5f4f0;
    }

    .tag-dot-container {
        background: #ffffdc;
        border: 1px solid grey;
    }
}