@font-face {
    font-family:"monofur";
    src:url("fonts/monofur_powerline.ttf") format("truetype");
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:"monofur italic";
    src:url("fonts/monofur_italic_powerline.ttf") format("truetype");
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:"monofur bold";
    src:url("fonts/monofur_bold_powerline.ttf") format("truetype");
    font-weight:normal;
    font-style:normal;
}

* { 
    background:#034ae4;
    line-height: 1.4;
    color: #00ff80;
    font-family: 'monofur', sans-serif;
}

body { 
    margin: 5% auto; 
    font-size: 18px;
    max-width: 80%;
    text-align: center;
}


footer {
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
}

h1 {
    font-size: 24;
    font-family: 'monofur bold', sans-serif;
}

a:visited {
    color: #00c763;
}

blockquote {
    font-family: "monofur italic";
}

pre {
    white-space: pre-wrap;
    font-family: monofur;
}

