input[type="radio"]:checked+label {
    font-weight: bold;
    color: var(--bg);
    background-color: var(--text-em-1);
}

.choices-group input {
    display: none;
}

.choices-group {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
}

.choices-group label {
    border: 2px solid var(--text-em-1);
    padding: 1rem;
    border-radius: 0.4rem;
    cursor: pointer;
    text-align: center;
}

.scope-of-work label>strong {
    display: block;
    margin-bottom: 0.4rem;
}

.banner {
    font-weight: bold;
    font-size: 1.4rem;
}

#page-wrapper>p {
    max-width: unset;
}

#results-container {
    max-width: 70ch;
}

#estimate-heading {
    display: none;
}

.estimate-container strong {
    font-size: 1.6rem;
}

.estimate-container {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

h2 {
    width: 100%;
}

.top-link {
    margin: 1rem;
}

h3 {
    margin: 0;
}

@media screen and (max-aspect-ratio: 1/1) {
    .choices-group {
        grid-template-columns: 1fr;
    }

    ul {
        padding-inline-start: 0.5rem;
    }
}